[data-theme=default] {
    --guan-1: #a8afb3;
    --guan-1-a10: rgba(168,175,179,0.1);
    --guan-1-a20: rgba(168,175,179,0.2);
    --guan-1-a30: rgba(168,175,179,0.3);
    --guan-1-a40: rgba(168,175,179,0.4);
    --guan-1-a50: rgba(168,175,179,0.5);
    --guan-1-a60: rgba(168,175,179,0.6);
    --guan-1-a70: rgba(168,175,179,0.7);
    --guan-1-a80: rgba(168,175,179,0.8);
    --guan-1-a90: rgba(168,175,179,0.9);
    --guan-2: #9ca2a6;
    --guan-2-a10: rgba(156,162,166,0.1);
    --guan-2-a20: rgba(156,162,166,0.2);
    --guan-2-a30: rgba(156,162,166,0.3);
    --guan-2-a40: rgba(156,162,166,0.4);
    --guan-2-a50: rgba(156,162,166,0.5);
    --guan-2-a60: rgba(156,162,166,0.6);
    --guan-2-a70: rgba(156,162,166,0.7);
    --guan-2-a80: rgba(156,162,166,0.8);
    --guan-2-a90: rgba(156,162,166,0.9);
    --guan-3: #909599;
    --guan-3-a10: rgba(144,149,153,0.1);
    --guan-3-a20: rgba(144,149,153,0.2);
    --guan-3-a30: rgba(144,149,153,0.3);
    --guan-3-a40: rgba(144,149,153,0.4);
    --guan-3-a50: rgba(144,149,153,0.5);
    --guan-3-a60: rgba(144,149,153,0.6);
    --guan-3-a70: rgba(144,149,153,0.7);
    --guan-3-a80: rgba(144,149,153,0.8);
    --guan-3-a90: rgba(144,149,153,0.9);
    --guan-4: #84898c;
    --guan-4-a10: rgba(132,137,140,0.1);
    --guan-4-a20: rgba(132,137,140,0.2);
    --guan-4-a30: rgba(132,137,140,0.3);
    --guan-4-a40: rgba(132,137,140,0.4);
    --guan-4-a50: rgba(132,137,140,0.5);
    --guan-4-a60: rgba(132,137,140,0.6);
    --guan-4-a70: rgba(132,137,140,0.7);
    --guan-4-a80: rgba(132,137,140,0.8);
    --guan-4-a90: rgba(132,137,140,0.9);
    --guan-5: #787c80;
    --guan-5-a10: rgba(120,124,128,0.1);
    --guan-5-a20: rgba(120,124,128,0.2);
    --guan-5-a30: rgba(120,124,128,0.3);
    --guan-5-a40: rgba(120,124,128,0.4);
    --guan-5-a50: rgba(120,124,128,0.5);
    --guan-5-a60: rgba(120,124,128,0.6);
    --guan-5-a70: rgba(120,124,128,0.7);
    --guan-5-a80: rgba(120,124,128,0.8);
    --guan-5-a90: rgba(120,124,128,0.9);
    --guan-6: #5c6772;
    --guan-6-a10: rgba(92,103,114,0.1);
    --guan-6-a20: rgba(92,103,114,0.2);
    --guan-6-a30: rgba(92,103,114,0.3);
    --guan-6-a40: rgba(92,103,114,0.4);
    --guan-6-a50: rgba(92,103,114,0.5);
    --guan-6-a60: rgba(92,103,114,0.6);
    --guan-6-a70: rgba(92,103,114,0.7);
    --guan-6-a80: rgba(92,103,114,0.8);
    --guan-6-a90: rgba(92,103,114,0.9);
    --guan-7: #3a434d;
    --guan-7-a10: rgba(58,67,77,0.1);
    --guan-7-a20: rgba(58,67,77,0.2);
    --guan-7-a30: rgba(58,67,77,0.3);
    --guan-7-a40: rgba(58,67,77,0.4);
    --guan-7-a50: rgba(58,67,77,0.5);
    --guan-7-a60: rgba(58,67,77,0.6);
    --guan-7-a70: rgba(58,67,77,0.7);
    --guan-7-a80: rgba(58,67,77,0.8);
    --guan-7-a90: rgba(58,67,77,0.9);
    --guan-8: #1b2026;
    --guan-8-a10: rgba(27,32,38,0.1);
    --guan-8-a20: rgba(27,32,38,0.2);
    --guan-8-a30: rgba(27,32,38,0.3);
    --guan-8-a40: rgba(27,32,38,0.4);
    --guan-8-a50: rgba(27,32,38,0.5);
    --guan-8-a60: rgba(27,32,38,0.6);
    --guan-8-a70: rgba(27,32,38,0.7);
    --guan-8-a80: rgba(27,32,38,0.8);
    --guan-8-a90: rgba(27,32,38,0.9);
    --guan-9: #000;
    --guan-9-a10: rgba(0,0,0,0.1);
    --guan-9-a20: rgba(0,0,0,0.2);
    --guan-9-a30: rgba(0,0,0,0.3);
    --guan-9-a40: rgba(0,0,0,0.4);
    --guan-9-a50: rgba(0,0,0,0.5);
    --guan-9-a60: rgba(0,0,0,0.6);
    --guan-9-a70: rgba(0,0,0,0.7);
    --guan-9-a80: rgba(0,0,0,0.8);
    --guan-9-a90: rgba(0,0,0,0.9);
    --guan-10: #000;
    --guan-10-a10: rgba(0,0,0,0.1);
    --guan-10-a20: rgba(0,0,0,0.2);
    --guan-10-a30: rgba(0,0,0,0.3);
    --guan-10-a40: rgba(0,0,0,0.4);
    --guan-10-a50: rgba(0,0,0,0.5);
    --guan-10-a60: rgba(0,0,0,0.6);
    --guan-10-a70: rgba(0,0,0,0.7);
    --guan-10-a80: rgba(0,0,0,0.8);
    --guan-10-a90: rgba(0,0,0,0.9);
    --guan-highlight-1: #a8afb3;
    --guan-highlight-1-a10: rgba(168,175,179,0.1);
    --guan-highlight-1-a20: rgba(168,175,179,0.2);
    --guan-highlight-1-a30: rgba(168,175,179,0.3);
    --guan-highlight-1-a40: rgba(168,175,179,0.4);
    --guan-highlight-1-a50: rgba(168,175,179,0.5);
    --guan-highlight-1-a60: rgba(168,175,179,0.6);
    --guan-highlight-1-a70: rgba(168,175,179,0.7);
    --guan-highlight-1-a80: rgba(168,175,179,0.8);
    --guan-highlight-1-a90: rgba(168,175,179,0.9);
    --guan-highlight-2: #9ca2a6;
    --guan-highlight-2-a10: rgba(156,162,166,0.1);
    --guan-highlight-2-a20: rgba(156,162,166,0.2);
    --guan-highlight-2-a30: rgba(156,162,166,0.3);
    --guan-highlight-2-a40: rgba(156,162,166,0.4);
    --guan-highlight-2-a50: rgba(156,162,166,0.5);
    --guan-highlight-2-a60: rgba(156,162,166,0.6);
    --guan-highlight-2-a70: rgba(156,162,166,0.7);
    --guan-highlight-2-a80: rgba(156,162,166,0.8);
    --guan-highlight-2-a90: rgba(156,162,166,0.9);
    --guan-highlight-3: #909599;
    --guan-highlight-3-a10: rgba(144,149,153,0.1);
    --guan-highlight-3-a20: rgba(144,149,153,0.2);
    --guan-highlight-3-a30: rgba(144,149,153,0.3);
    --guan-highlight-3-a40: rgba(144,149,153,0.4);
    --guan-highlight-3-a50: rgba(144,149,153,0.5);
    --guan-highlight-3-a60: rgba(144,149,153,0.6);
    --guan-highlight-3-a70: rgba(144,149,153,0.7);
    --guan-highlight-3-a80: rgba(144,149,153,0.8);
    --guan-highlight-3-a90: rgba(144,149,153,0.9);
    --guan-highlight-4: #84898c;
    --guan-highlight-4-a10: rgba(132,137,140,0.1);
    --guan-highlight-4-a20: rgba(132,137,140,0.2);
    --guan-highlight-4-a30: rgba(132,137,140,0.3);
    --guan-highlight-4-a40: rgba(132,137,140,0.4);
    --guan-highlight-4-a50: rgba(132,137,140,0.5);
    --guan-highlight-4-a60: rgba(132,137,140,0.6);
    --guan-highlight-4-a70: rgba(132,137,140,0.7);
    --guan-highlight-4-a80: rgba(132,137,140,0.8);
    --guan-highlight-4-a90: rgba(132,137,140,0.9);
    --guan-highlight-5: #787c80;
    --guan-highlight-5-a10: rgba(120,124,128,0.1);
    --guan-highlight-5-a20: rgba(120,124,128,0.2);
    --guan-highlight-5-a30: rgba(120,124,128,0.3);
    --guan-highlight-5-a40: rgba(120,124,128,0.4);
    --guan-highlight-5-a50: rgba(120,124,128,0.5);
    --guan-highlight-5-a60: rgba(120,124,128,0.6);
    --guan-highlight-5-a70: rgba(120,124,128,0.7);
    --guan-highlight-5-a80: rgba(120,124,128,0.8);
    --guan-highlight-5-a90: rgba(120,124,128,0.9);
    --guan-highlight-6: #5c6772;
    --guan-highlight-6-a10: rgba(92,103,114,0.1);
    --guan-highlight-6-a20: rgba(92,103,114,0.2);
    --guan-highlight-6-a30: rgba(92,103,114,0.3);
    --guan-highlight-6-a40: rgba(92,103,114,0.4);
    --guan-highlight-6-a50: rgba(92,103,114,0.5);
    --guan-highlight-6-a60: rgba(92,103,114,0.6);
    --guan-highlight-6-a70: rgba(92,103,114,0.7);
    --guan-highlight-6-a80: rgba(92,103,114,0.8);
    --guan-highlight-6-a90: rgba(92,103,114,0.9);
    --guan-highlight-7: #3a434d;
    --guan-highlight-7-a10: rgba(58,67,77,0.1);
    --guan-highlight-7-a20: rgba(58,67,77,0.2);
    --guan-highlight-7-a30: rgba(58,67,77,0.3);
    --guan-highlight-7-a40: rgba(58,67,77,0.4);
    --guan-highlight-7-a50: rgba(58,67,77,0.5);
    --guan-highlight-7-a60: rgba(58,67,77,0.6);
    --guan-highlight-7-a70: rgba(58,67,77,0.7);
    --guan-highlight-7-a80: rgba(58,67,77,0.8);
    --guan-highlight-7-a90: rgba(58,67,77,0.9);
    --guan-highlight-8: #1b2026;
    --guan-highlight-8-a10: rgba(27,32,38,0.1);
    --guan-highlight-8-a20: rgba(27,32,38,0.2);
    --guan-highlight-8-a30: rgba(27,32,38,0.3);
    --guan-highlight-8-a40: rgba(27,32,38,0.4);
    --guan-highlight-8-a50: rgba(27,32,38,0.5);
    --guan-highlight-8-a60: rgba(27,32,38,0.6);
    --guan-highlight-8-a70: rgba(27,32,38,0.7);
    --guan-highlight-8-a80: rgba(27,32,38,0.8);
    --guan-highlight-8-a90: rgba(27,32,38,0.9);
    --guan-highlight-9: #000;
    --guan-highlight-9-a10: rgba(0,0,0,0.1);
    --guan-highlight-9-a20: rgba(0,0,0,0.2);
    --guan-highlight-9-a30: rgba(0,0,0,0.3);
    --guan-highlight-9-a40: rgba(0,0,0,0.4);
    --guan-highlight-9-a50: rgba(0,0,0,0.5);
    --guan-highlight-9-a60: rgba(0,0,0,0.6);
    --guan-highlight-9-a70: rgba(0,0,0,0.7);
    --guan-highlight-9-a80: rgba(0,0,0,0.8);
    --guan-highlight-9-a90: rgba(0,0,0,0.9);
    --guan-highlight-10: #000;
    --guan-highlight-10-a10: rgba(0,0,0,0.1);
    --guan-highlight-10-a20: rgba(0,0,0,0.2);
    --guan-highlight-10-a30: rgba(0,0,0,0.3);
    --guan-highlight-10-a40: rgba(0,0,0,0.4);
    --guan-highlight-10-a50: rgba(0,0,0,0.5);
    --guan-highlight-10-a60: rgba(0,0,0,0.6);
    --guan-highlight-10-a70: rgba(0,0,0,0.7);
    --guan-highlight-10-a80: rgba(0,0,0,0.8);
    --guan-highlight-10-a90: rgba(0,0,0,0.9);
    --guan-gray-1: #f0f8ff;
    --guan-gray-1-a10: rgba(240,248,255,0.1);
    --guan-gray-1-a20: rgba(240,248,255,0.2);
    --guan-gray-1-a30: rgba(240,248,255,0.3);
    --guan-gray-1-a40: rgba(240,248,255,0.4);
    --guan-gray-1-a50: rgba(240,248,255,0.5);
    --guan-gray-1-a60: rgba(240,248,255,0.6);
    --guan-gray-1-a70: rgba(240,248,255,0.7);
    --guan-gray-1-a80: rgba(240,248,255,0.8);
    --guan-gray-1-a90: rgba(240,248,255,0.9);
    --guan-gray-2: #e9f0f7;
    --guan-gray-2-a10: rgba(233,240,247,0.1);
    --guan-gray-2-a20: rgba(233,240,247,0.2);
    --guan-gray-2-a30: rgba(233,240,247,0.3);
    --guan-gray-2-a40: rgba(233,240,247,0.4);
    --guan-gray-2-a50: rgba(233,240,247,0.5);
    --guan-gray-2-a60: rgba(233,240,247,0.6);
    --guan-gray-2-a70: rgba(233,240,247,0.7);
    --guan-gray-2-a80: rgba(233,240,247,0.8);
    --guan-gray-2-a90: rgba(233,240,247,0.9);
    --guan-gray-3: #dde3eb;
    --guan-gray-3-a10: rgba(221,227,235,0.1);
    --guan-gray-3-a20: rgba(221,227,235,0.2);
    --guan-gray-3-a30: rgba(221,227,235,0.3);
    --guan-gray-3-a40: rgba(221,227,235,0.4);
    --guan-gray-3-a50: rgba(221,227,235,0.5);
    --guan-gray-3-a60: rgba(221,227,235,0.6);
    --guan-gray-3-a70: rgba(221,227,235,0.7);
    --guan-gray-3-a80: rgba(221,227,235,0.8);
    --guan-gray-3-a90: rgba(221,227,235,0.9);
    --guan-gray-4: #d1d6de;
    --guan-gray-4-a10: rgba(209,214,222,0.1);
    --guan-gray-4-a20: rgba(209,214,222,0.2);
    --guan-gray-4-a30: rgba(209,214,222,0.3);
    --guan-gray-4-a40: rgba(209,214,222,0.4);
    --guan-gray-4-a50: rgba(209,214,222,0.5);
    --guan-gray-4-a60: rgba(209,214,222,0.6);
    --guan-gray-4-a70: rgba(209,214,222,0.7);
    --guan-gray-4-a80: rgba(209,214,222,0.8);
    --guan-gray-4-a90: rgba(209,214,222,0.9);
    --guan-gray-5: #c5cad1;
    --guan-gray-5-a10: rgba(197,202,209,0.1);
    --guan-gray-5-a20: rgba(197,202,209,0.2);
    --guan-gray-5-a30: rgba(197,202,209,0.3);
    --guan-gray-5-a40: rgba(197,202,209,0.4);
    --guan-gray-5-a50: rgba(197,202,209,0.5);
    --guan-gray-5-a60: rgba(197,202,209,0.6);
    --guan-gray-5-a70: rgba(197,202,209,0.7);
    --guan-gray-5-a80: rgba(197,202,209,0.8);
    --guan-gray-5-a90: rgba(197,202,209,0.9);
    --guan-gray-6: #acb5c4;
    --guan-gray-6-a10: rgba(172,181,196,0.1);
    --guan-gray-6-a20: rgba(172,181,196,0.2);
    --guan-gray-6-a30: rgba(172,181,196,0.3);
    --guan-gray-6-a40: rgba(172,181,196,0.4);
    --guan-gray-6-a50: rgba(172,181,196,0.5);
    --guan-gray-6-a60: rgba(172,181,196,0.6);
    --guan-gray-6-a70: rgba(172,181,196,0.7);
    --guan-gray-6-a80: rgba(172,181,196,0.8);
    --guan-gray-6-a90: rgba(172,181,196,0.9);
    --guan-gray-7: #838c9e;
    --guan-gray-7-a10: rgba(131,140,158,0.1);
    --guan-gray-7-a20: rgba(131,140,158,0.2);
    --guan-gray-7-a30: rgba(131,140,158,0.3);
    --guan-gray-7-a40: rgba(131,140,158,0.4);
    --guan-gray-7-a50: rgba(131,140,158,0.5);
    --guan-gray-7-a60: rgba(131,140,158,0.6);
    --guan-gray-7-a70: rgba(131,140,158,0.7);
    --guan-gray-7-a80: rgba(131,140,158,0.8);
    --guan-gray-7-a90: rgba(131,140,158,0.9);
    --guan-gray-8: #5d6578;
    --guan-gray-8-a10: rgba(93,101,120,0.1);
    --guan-gray-8-a20: rgba(93,101,120,0.2);
    --guan-gray-8-a30: rgba(93,101,120,0.3);
    --guan-gray-8-a40: rgba(93,101,120,0.4);
    --guan-gray-8-a50: rgba(93,101,120,0.5);
    --guan-gray-8-a60: rgba(93,101,120,0.6);
    --guan-gray-8-a70: rgba(93,101,120,0.7);
    --guan-gray-8-a80: rgba(93,101,120,0.8);
    --guan-gray-8-a90: rgba(93,101,120,0.9);
    --guan-gray-9: #3c4152;
    --guan-gray-9-a10: rgba(60,65,82,0.1);
    --guan-gray-9-a20: rgba(60,65,82,0.2);
    --guan-gray-9-a30: rgba(60,65,82,0.3);
    --guan-gray-9-a40: rgba(60,65,82,0.4);
    --guan-gray-9-a50: rgba(60,65,82,0.5);
    --guan-gray-9-a60: rgba(60,65,82,0.6);
    --guan-gray-9-a70: rgba(60,65,82,0.7);
    --guan-gray-9-a80: rgba(60,65,82,0.8);
    --guan-gray-9-a90: rgba(60,65,82,0.9);
    --guan-gray-10: #1f222b;
    --guan-gray-10-a10: rgba(31,34,43,0.1);
    --guan-gray-10-a20: rgba(31,34,43,0.2);
    --guan-gray-10-a30: rgba(31,34,43,0.3);
    --guan-gray-10-a40: rgba(31,34,43,0.4);
    --guan-gray-10-a50: rgba(31,34,43,0.5);
    --guan-gray-10-a60: rgba(31,34,43,0.6);
    --guan-gray-10-a70: rgba(31,34,43,0.7);
    --guan-gray-10-a80: rgba(31,34,43,0.8);
    --guan-gray-10-a90: rgba(31,34,43,0.9);
    --red-1: #fff1f0;
    --red-1-a10: rgba(255,241,240,0.1);
    --red-1-a20: rgba(255,241,240,0.2);
    --red-1-a30: rgba(255,241,240,0.3);
    --red-1-a40: rgba(255,241,240,0.4);
    --red-1-a50: rgba(255,241,240,0.5);
    --red-1-a60: rgba(255,241,240,0.6);
    --red-1-a70: rgba(255,241,240,0.7);
    --red-1-a80: rgba(255,241,240,0.8);
    --red-1-a90: rgba(255,241,240,0.9);
    --red-2: #ffebeb;
    --red-2-a10: rgba(255,235,235,0.1);
    --red-2-a20: rgba(255,235,235,0.2);
    --red-2-a30: rgba(255,235,235,0.3);
    --red-2-a40: rgba(255,235,235,0.4);
    --red-2-a50: rgba(255,235,235,0.5);
    --red-2-a60: rgba(255,235,235,0.6);
    --red-2-a70: rgba(255,235,235,0.7);
    --red-2-a80: rgba(255,235,235,0.8);
    --red-2-a90: rgba(255,235,235,0.9);
    --red-3: #ffc2c2;
    --red-3-a10: hsla(0,100%,88%,0.1);
    --red-3-a20: hsla(0,100%,88%,0.2);
    --red-3-a30: hsla(0,100%,88%,0.3);
    --red-3-a40: hsla(0,100%,88%,0.4);
    --red-3-a50: hsla(0,100%,88%,0.5);
    --red-3-a60: hsla(0,100%,88%,0.6);
    --red-3-a70: hsla(0,100%,88%,0.7);
    --red-3-a80: hsla(0,100%,88%,0.8);
    --red-3-a90: hsla(0,100%,88%,0.9);
    --red-4: #ff999c;
    --red-4-a10: rgba(255,153,156,0.1);
    --red-4-a20: rgba(255,153,156,0.2);
    --red-4-a30: rgba(255,153,156,0.3);
    --red-4-a40: rgba(255,153,156,0.4);
    --red-4-a50: rgba(255,153,156,0.5);
    --red-4-a60: rgba(255,153,156,0.6);
    --red-4-a70: rgba(255,153,156,0.7);
    --red-4-a80: rgba(255,153,156,0.8);
    --red-4-a90: rgba(255,153,156,0.9);
    --red-5: #ff707a;
    --red-5-a10: rgba(255,112,122,0.1);
    --red-5-a20: rgba(255,112,122,0.2);
    --red-5-a30: rgba(255,112,122,0.3);
    --red-5-a40: rgba(255,112,122,0.4);
    --red-5-a50: rgba(255,112,122,0.5);
    --red-5-a60: rgba(255,112,122,0.6);
    --red-5-a70: rgba(255,112,122,0.7);
    --red-5-a80: rgba(255,112,122,0.8);
    --red-5-a90: rgba(255,112,122,0.9);
    --red-6: #f14355;
    --red-6-a10: rgba(241,67,85,0.1);
    --red-6-a20: rgba(241,67,85,0.2);
    --red-6-a30: rgba(241,67,85,0.3);
    --red-6-a40: rgba(241,67,85,0.4);
    --red-6-a50: rgba(241,67,85,0.5);
    --red-6-a60: rgba(241,67,85,0.6);
    --red-6-a70: rgba(241,67,85,0.7);
    --red-6-a80: rgba(241,67,85,0.8);
    --red-6-a90: rgba(241,67,85,0.9);
    --red-7: #cc2f44;
    --red-7-a10: rgba(204,47,68,0.1);
    --red-7-a20: rgba(204,47,68,0.2);
    --red-7-a30: rgba(204,47,68,0.3);
    --red-7-a40: rgba(204,47,68,0.4);
    --red-7-a50: rgba(204,47,68,0.5);
    --red-7-a60: rgba(204,47,68,0.6);
    --red-7-a70: rgba(204,47,68,0.7);
    --red-7-a80: rgba(204,47,68,0.8);
    --red-7-a90: rgba(204,47,68,0.9);
    --red-8: #a61e34;
    --red-8-a10: rgba(166,30,52,0.1);
    --red-8-a20: rgba(166,30,52,0.2);
    --red-8-a30: rgba(166,30,52,0.3);
    --red-8-a40: rgba(166,30,52,0.4);
    --red-8-a50: rgba(166,30,52,0.5);
    --red-8-a60: rgba(166,30,52,0.6);
    --red-8-a70: rgba(166,30,52,0.7);
    --red-8-a80: rgba(166,30,52,0.8);
    --red-8-a90: rgba(166,30,52,0.9);
    --red-9: #801127;
    --red-9-a10: rgba(128,17,39,0.1);
    --red-9-a20: rgba(128,17,39,0.2);
    --red-9-a30: rgba(128,17,39,0.3);
    --red-9-a40: rgba(128,17,39,0.4);
    --red-9-a50: rgba(128,17,39,0.5);
    --red-9-a60: rgba(128,17,39,0.6);
    --red-9-a70: rgba(128,17,39,0.7);
    --red-9-a80: rgba(128,17,39,0.8);
    --red-9-a90: rgba(128,17,39,0.9);
    --red-10: #590b1d;
    --red-10-a10: rgba(89,11,29,0.1);
    --red-10-a20: rgba(89,11,29,0.2);
    --red-10-a30: rgba(89,11,29,0.3);
    --red-10-a40: rgba(89,11,29,0.4);
    --red-10-a50: rgba(89,11,29,0.5);
    --red-10-a60: rgba(89,11,29,0.6);
    --red-10-a70: rgba(89,11,29,0.7);
    --red-10-a80: rgba(89,11,29,0.8);
    --red-10-a90: rgba(89,11,29,0.9);
    --volcano-1: #fff7f0;
    --volcano-2: #fff5ed;
    --volcano-3: #ffddc4;
    --volcano-4: #ffc29c;
    --volcano-5: #ffa473;
    --volcano-6: #ff834a;
    --volcano-7: #d96334;
    --volcano-8: #b34622;
    --volcano-9: #8c2e14;
    --volcano-10: #661e0d;
    --orange-1: #fffded;
    --orange-1-a10: rgba(255,253,237,0.1);
    --orange-1-a20: rgba(255,253,237,0.2);
    --orange-1-a30: rgba(255,253,237,0.3);
    --orange-1-a40: rgba(255,253,237,0.4);
    --orange-1-a50: rgba(255,253,237,0.5);
    --orange-1-a60: rgba(255,253,237,0.6);
    --orange-1-a70: rgba(255,253,237,0.7);
    --orange-1-a80: rgba(255,253,237,0.8);
    --orange-1-a90: rgba(255,253,237,0.9);
    --orange-2: #fff7c4;
    --orange-2-a10: rgba(255,247,196,0.1);
    --orange-2-a20: rgba(255,247,196,0.2);
    --orange-2-a30: rgba(255,247,196,0.3);
    --orange-2-a40: rgba(255,247,196,0.4);
    --orange-2-a50: rgba(255,247,196,0.5);
    --orange-2-a60: rgba(255,247,196,0.6);
    --orange-2-a70: rgba(255,247,196,0.7);
    --orange-2-a80: rgba(255,247,196,0.8);
    --orange-2-a90: rgba(255,247,196,0.9);
    --orange-3: #ffee9c;
    --orange-3-a10: rgba(255,238,156,0.1);
    --orange-3-a20: rgba(255,238,156,0.2);
    --orange-3-a30: rgba(255,238,156,0.3);
    --orange-3-a40: rgba(255,238,156,0.4);
    --orange-3-a50: rgba(255,238,156,0.5);
    --orange-3-a60: rgba(255,238,156,0.6);
    --orange-3-a70: rgba(255,238,156,0.7);
    --orange-3-a80: rgba(255,238,156,0.8);
    --orange-3-a90: rgba(255,238,156,0.9);
    --orange-4: #ffe373;
    --orange-4-a10: rgba(255,227,115,0.1);
    --orange-4-a20: rgba(255,227,115,0.2);
    --orange-4-a30: rgba(255,227,115,0.3);
    --orange-4-a40: rgba(255,227,115,0.4);
    --orange-4-a50: rgba(255,227,115,0.5);
    --orange-4-a60: rgba(255,227,115,0.6);
    --orange-4-a70: rgba(255,227,115,0.7);
    --orange-4-a80: rgba(255,227,115,0.8);
    --orange-4-a90: rgba(255,227,115,0.9);
    --orange-5: #fcd349;
    --orange-5-a10: rgba(252,211,73,0.1);
    --orange-5-a20: rgba(252,211,73,0.2);
    --orange-5-a30: rgba(252,211,73,0.3);
    --orange-5-a40: rgba(252,211,73,0.4);
    --orange-5-a50: rgba(252,211,73,0.5);
    --orange-5-a60: rgba(252,211,73,0.6);
    --orange-5-a70: rgba(252,211,73,0.7);
    --orange-5-a80: rgba(252,211,73,0.8);
    --orange-5-a90: rgba(252,211,73,0.9);
    --orange-6: #efb71f;
    --orange-6-a10: rgba(239,183,31,0.1);
    --orange-6-a20: rgba(239,183,31,0.2);
    --orange-6-a30: rgba(239,183,31,0.3);
    --orange-6-a40: rgba(239,183,31,0.4);
    --orange-6-a50: rgba(239,183,31,0.5);
    --orange-6-a60: rgba(239,183,31,0.6);
    --orange-6-a70: rgba(239,183,31,0.7);
    --orange-6-a80: rgba(239,183,31,0.8);
    --orange-6-a90: rgba(239,183,31,0.9);
    --orange-7: #c99210;
    --orange-7-a10: rgba(201,146,16,0.1);
    --orange-7-a20: rgba(201,146,16,0.2);
    --orange-7-a30: rgba(201,146,16,0.3);
    --orange-7-a40: rgba(201,146,16,0.4);
    --orange-7-a50: rgba(201,146,16,0.5);
    --orange-7-a60: rgba(201,146,16,0.6);
    --orange-7-a70: rgba(201,146,16,0.7);
    --orange-7-a80: rgba(201,146,16,0.8);
    --orange-7-a90: rgba(201,146,16,0.9);
    --orange-8: #a36e05;
    --orange-8-a10: rgba(163,110,5,0.1);
    --orange-8-a20: rgba(163,110,5,0.2);
    --orange-8-a30: rgba(163,110,5,0.3);
    --orange-8-a40: rgba(163,110,5,0.4);
    --orange-8-a50: rgba(163,110,5,0.5);
    --orange-8-a60: rgba(163,110,5,0.6);
    --orange-8-a70: rgba(163,110,5,0.7);
    --orange-8-a80: rgba(163,110,5,0.8);
    --orange-8-a90: rgba(163,110,5,0.9);
    --orange-9: #7d4f00;
    --orange-9-a10: rgba(125,79,0,0.1);
    --orange-9-a20: rgba(125,79,0,0.2);
    --orange-9-a30: rgba(125,79,0,0.3);
    --orange-9-a40: rgba(125,79,0,0.4);
    --orange-9-a50: rgba(125,79,0,0.5);
    --orange-9-a60: rgba(125,79,0,0.6);
    --orange-9-a70: rgba(125,79,0,0.7);
    --orange-9-a80: rgba(125,79,0,0.8);
    --orange-9-a90: rgba(125,79,0,0.9);
    --orange-10: #573400;
    --orange-10-a10: rgba(87,52,0,0.1);
    --orange-10-a20: rgba(87,52,0,0.2);
    --orange-10-a30: rgba(87,52,0,0.3);
    --orange-10-a40: rgba(87,52,0,0.4);
    --orange-10-a50: rgba(87,52,0,0.5);
    --orange-10-a60: rgba(87,52,0,0.6);
    --orange-10-a70: rgba(87,52,0,0.7);
    --orange-10-a80: rgba(87,52,0,0.8);
    --orange-10-a90: rgba(87,52,0,0.9);
    --gold-1: #fffef0;
    --gold-1-a10: rgba(255,254,240,0.1);
    --gold-1-a20: rgba(255,254,240,0.2);
    --gold-1-a30: rgba(255,254,240,0.3);
    --gold-1-a40: rgba(255,254,240,0.4);
    --gold-1-a50: rgba(255,254,240,0.5);
    --gold-1-a60: rgba(255,254,240,0.6);
    --gold-1-a70: rgba(255,254,240,0.7);
    --gold-1-a80: rgba(255,254,240,0.8);
    --gold-1-a90: rgba(255,254,240,0.9);
    --gold-2: #fffded;
    --gold-2-a10: rgba(255,253,237,0.1);
    --gold-2-a20: rgba(255,253,237,0.2);
    --gold-2-a30: rgba(255,253,237,0.3);
    --gold-2-a40: rgba(255,253,237,0.4);
    --gold-2-a50: rgba(255,253,237,0.5);
    --gold-2-a60: rgba(255,253,237,0.6);
    --gold-2-a70: rgba(255,253,237,0.7);
    --gold-2-a80: rgba(255,253,237,0.8);
    --gold-2-a90: rgba(255,253,237,0.9);
    --gold-3: #fff7c4;
    --gold-3-a10: rgba(255,247,196,0.1);
    --gold-3-a20: rgba(255,247,196,0.2);
    --gold-3-a30: rgba(255,247,196,0.3);
    --gold-3-a40: rgba(255,247,196,0.4);
    --gold-3-a50: rgba(255,247,196,0.5);
    --gold-3-a60: rgba(255,247,196,0.6);
    --gold-3-a70: rgba(255,247,196,0.7);
    --gold-3-a80: rgba(255,247,196,0.8);
    --gold-3-a90: rgba(255,247,196,0.9);
    --gold-4: #ffee9c;
    --gold-4-a10: rgba(255,238,156,0.1);
    --gold-4-a20: rgba(255,238,156,0.2);
    --gold-4-a30: rgba(255,238,156,0.3);
    --gold-4-a40: rgba(255,238,156,0.4);
    --gold-4-a50: rgba(255,238,156,0.5);
    --gold-4-a60: rgba(255,238,156,0.6);
    --gold-4-a70: rgba(255,238,156,0.7);
    --gold-4-a80: rgba(255,238,156,0.8);
    --gold-4-a90: rgba(255,238,156,0.9);
    --gold-5: #f2d86d;
    --gold-5-a10: rgba(242,216,109,0.1);
    --gold-5-a20: rgba(242,216,109,0.2);
    --gold-5-a30: rgba(242,216,109,0.3);
    --gold-5-a40: rgba(242,216,109,0.4);
    --gold-5-a50: rgba(242,216,109,0.5);
    --gold-5-a60: rgba(242,216,109,0.6);
    --gold-5-a70: rgba(242,216,109,0.7);
    --gold-5-a80: rgba(242,216,109,0.8);
    --gold-5-a90: rgba(242,216,109,0.9);
    --gold-6: #e5c042;
    --gold-6-a10: rgba(229,192,66,0.1);
    --gold-6-a20: rgba(229,192,66,0.2);
    --gold-6-a30: rgba(229,192,66,0.3);
    --gold-6-a40: rgba(229,192,66,0.4);
    --gold-6-a50: rgba(229,192,66,0.5);
    --gold-6-a60: rgba(229,192,66,0.6);
    --gold-6-a70: rgba(229,192,66,0.7);
    --gold-6-a80: rgba(229,192,66,0.8);
    --gold-6-a90: rgba(229,192,66,0.9);
    --gold-7: #bf982e;
    --gold-7-a10: rgba(191,152,46,0.1);
    --gold-7-a20: rgba(191,152,46,0.2);
    --gold-7-a30: rgba(191,152,46,0.3);
    --gold-7-a40: rgba(191,152,46,0.4);
    --gold-7-a50: rgba(191,152,46,0.5);
    --gold-7-a60: rgba(191,152,46,0.6);
    --gold-7-a70: rgba(191,152,46,0.7);
    --gold-7-a80: rgba(191,152,46,0.8);
    --gold-7-a90: rgba(191,152,46,0.9);
    --gold-8: #99741d;
    --gold-8-a10: rgba(153,116,29,0.1);
    --gold-8-a20: rgba(153,116,29,0.2);
    --gold-8-a30: rgba(153,116,29,0.3);
    --gold-8-a40: rgba(153,116,29,0.4);
    --gold-8-a50: rgba(153,116,29,0.5);
    --gold-8-a60: rgba(153,116,29,0.6);
    --gold-8-a70: rgba(153,116,29,0.7);
    --gold-8-a80: rgba(153,116,29,0.8);
    --gold-8-a90: rgba(153,116,29,0.9);
    --gold-9: #735210;
    --gold-9-a10: rgba(115,82,16,0.1);
    --gold-9-a20: rgba(115,82,16,0.2);
    --gold-9-a30: rgba(115,82,16,0.3);
    --gold-9-a40: rgba(115,82,16,0.4);
    --gold-9-a50: rgba(115,82,16,0.5);
    --gold-9-a60: rgba(115,82,16,0.6);
    --gold-9-a70: rgba(115,82,16,0.7);
    --gold-9-a80: rgba(115,82,16,0.8);
    --gold-9-a90: rgba(115,82,16,0.9);
    --gold-10: #4d340a;
    --gold-10-a10: rgba(77,52,10,0.1);
    --gold-10-a20: rgba(77,52,10,0.2);
    --gold-10-a30: rgba(77,52,10,0.3);
    --gold-10-a40: rgba(77,52,10,0.4);
    --gold-10-a50: rgba(77,52,10,0.5);
    --gold-10-a60: rgba(77,52,10,0.6);
    --gold-10-a70: rgba(77,52,10,0.7);
    --gold-10-a80: rgba(77,52,10,0.8);
    --gold-10-a90: rgba(77,52,10,0.9);
    --yellow-1: #fefff0;
    --yellow-2: #feffd6;
    --yellow-3: #f2f2a5;
    --yellow-4: #e6e277;
    --yellow-5: #d9d04e;
    --yellow-6: #cdbd29;
    --yellow-7: #a69319;
    --yellow-8: #806c0d;
    --yellow-9: #594804;
    --yellow-10: #332802;
    --lime-1: #e4f2e7;
    --lime-1-a10: rgba(228,242,231,0.1);
    --lime-1-a20: rgba(228,242,231,0.2);
    --lime-1-a30: rgba(228,242,231,0.3);
    --lime-1-a40: rgba(228,242,231,0.4);
    --lime-1-a50: rgba(228,242,231,0.5);
    --lime-1-a60: rgba(228,242,231,0.6);
    --lime-1-a70: rgba(228,242,231,0.7);
    --lime-1-a80: rgba(228,242,231,0.8);
    --lime-1-a90: rgba(228,242,231,0.9);
    --lime-2: #d3e6d8;
    --lime-2-a10: rgba(211,230,216,0.1);
    --lime-2-a20: rgba(211,230,216,0.2);
    --lime-2-a30: rgba(211,230,216,0.3);
    --lime-2-a40: rgba(211,230,216,0.4);
    --lime-2-a50: rgba(211,230,216,0.5);
    --lime-2-a60: rgba(211,230,216,0.6);
    --lime-2-a70: rgba(211,230,216,0.7);
    --lime-2-a80: rgba(211,230,216,0.8);
    --lime-2-a90: rgba(211,230,216,0.9);
    --lime-3: #a5d9b5;
    --lime-3-a10: rgba(165,217,181,0.1);
    --lime-3-a20: rgba(165,217,181,0.2);
    --lime-3-a30: rgba(165,217,181,0.3);
    --lime-3-a40: rgba(165,217,181,0.4);
    --lime-3-a50: rgba(165,217,181,0.5);
    --lime-3-a60: rgba(165,217,181,0.6);
    --lime-3-a70: rgba(165,217,181,0.7);
    --lime-3-a80: rgba(165,217,181,0.8);
    --lime-3-a90: rgba(165,217,181,0.9);
    --lime-4: #7acc97;
    --lime-4-a10: rgba(122,204,151,0.1);
    --lime-4-a20: rgba(122,204,151,0.2);
    --lime-4-a30: rgba(122,204,151,0.3);
    --lime-4-a40: rgba(122,204,151,0.4);
    --lime-4-a50: rgba(122,204,151,0.5);
    --lime-4-a60: rgba(122,204,151,0.6);
    --lime-4-a70: rgba(122,204,151,0.7);
    --lime-4-a80: rgba(122,204,151,0.8);
    --lime-4-a90: rgba(122,204,151,0.9);
    --lime-5: #54bf7d;
    --lime-5-a10: rgba(84,191,125,0.1);
    --lime-5-a20: rgba(84,191,125,0.2);
    --lime-5-a30: rgba(84,191,125,0.3);
    --lime-5-a40: rgba(84,191,125,0.4);
    --lime-5-a50: rgba(84,191,125,0.5);
    --lime-5-a60: rgba(84,191,125,0.6);
    --lime-5-a70: rgba(84,191,125,0.7);
    --lime-5-a80: rgba(84,191,125,0.8);
    --lime-5-a90: rgba(84,191,125,0.9);
    --lime-6: #32b368;
    --lime-6-a10: rgba(50,179,104,0.1);
    --lime-6-a20: rgba(50,179,104,0.2);
    --lime-6-a30: rgba(50,179,104,0.3);
    --lime-6-a40: rgba(50,179,104,0.4);
    --lime-6-a50: rgba(50,179,104,0.5);
    --lime-6-a60: rgba(50,179,104,0.6);
    --lime-6-a70: rgba(50,179,104,0.7);
    --lime-6-a80: rgba(50,179,104,0.8);
    --lime-6-a90: rgba(50,179,104,0.9);
    --lime-7: #208c51;
    --lime-7-a10: rgba(32,140,81,0.1);
    --lime-7-a20: rgba(32,140,81,0.2);
    --lime-7-a30: rgba(32,140,81,0.3);
    --lime-7-a40: rgba(32,140,81,0.4);
    --lime-7-a50: rgba(32,140,81,0.5);
    --lime-7-a60: rgba(32,140,81,0.6);
    --lime-7-a70: rgba(32,140,81,0.7);
    --lime-7-a80: rgba(32,140,81,0.8);
    --lime-7-a90: rgba(32,140,81,0.9);
    --lime-8: #12663b;
    --lime-8-a10: rgba(18,102,59,0.1);
    --lime-8-a20: rgba(18,102,59,0.2);
    --lime-8-a30: rgba(18,102,59,0.3);
    --lime-8-a40: rgba(18,102,59,0.4);
    --lime-8-a50: rgba(18,102,59,0.5);
    --lime-8-a60: rgba(18,102,59,0.6);
    --lime-8-a70: rgba(18,102,59,0.7);
    --lime-8-a80: rgba(18,102,59,0.8);
    --lime-8-a90: rgba(18,102,59,0.9);
    --lime-9: #084025;
    --lime-9-a10: rgba(8,64,37,0.1);
    --lime-9-a20: rgba(8,64,37,0.2);
    --lime-9-a30: rgba(8,64,37,0.3);
    --lime-9-a40: rgba(8,64,37,0.4);
    --lime-9-a50: rgba(8,64,37,0.5);
    --lime-9-a60: rgba(8,64,37,0.6);
    --lime-9-a70: rgba(8,64,37,0.7);
    --lime-9-a80: rgba(8,64,37,0.8);
    --lime-9-a90: rgba(8,64,37,0.9);
    --lime-10: #031a0f;
    --lime-10-a10: rgba(3,26,15,0.1);
    --lime-10-a20: rgba(3,26,15,0.2);
    --lime-10-a30: rgba(3,26,15,0.3);
    --lime-10-a40: rgba(3,26,15,0.4);
    --lime-10-a50: rgba(3,26,15,0.5);
    --lime-10-a60: rgba(3,26,15,0.6);
    --lime-10-a70: rgba(3,26,15,0.7);
    --lime-10-a80: rgba(3,26,15,0.8);
    --lime-10-a90: rgba(3,26,15,0.9);
    --green-1: #e6fff3;
    --green-1-a10: rgba(230,255,243,0.1);
    --green-1-a20: rgba(230,255,243,0.2);
    --green-1-a30: rgba(230,255,243,0.3);
    --green-1-a40: rgba(230,255,243,0.4);
    --green-1-a50: rgba(230,255,243,0.5);
    --green-1-a60: rgba(230,255,243,0.6);
    --green-1-a70: rgba(230,255,243,0.7);
    --green-1-a80: rgba(230,255,243,0.8);
    --green-1-a90: rgba(230,255,243,0.9);
    --green-2: #a0fad3;
    --green-2-a10: rgba(160,250,211,0.1);
    --green-2-a20: rgba(160,250,211,0.2);
    --green-2-a30: rgba(160,250,211,0.3);
    --green-2-a40: rgba(160,250,211,0.4);
    --green-2-a50: rgba(160,250,211,0.5);
    --green-2-a60: rgba(160,250,211,0.6);
    --green-2-a70: rgba(160,250,211,0.7);
    --green-2-a80: rgba(160,250,211,0.8);
    --green-2-a90: rgba(160,250,211,0.9);
    --green-3: #72edbc;
    --green-3-a10: rgba(114,237,188,0.1);
    --green-3-a20: rgba(114,237,188,0.2);
    --green-3-a30: rgba(114,237,188,0.3);
    --green-3-a40: rgba(114,237,188,0.4);
    --green-3-a50: rgba(114,237,188,0.5);
    --green-3-a60: rgba(114,237,188,0.6);
    --green-3-a70: rgba(114,237,188,0.7);
    --green-3-a80: rgba(114,237,188,0.8);
    --green-3-a90: rgba(114,237,188,0.9);
    --green-4: #48e0a8;
    --green-4-a10: rgba(72,224,168,0.1);
    --green-4-a20: rgba(72,224,168,0.2);
    --green-4-a30: rgba(72,224,168,0.3);
    --green-4-a40: rgba(72,224,168,0.4);
    --green-4-a50: rgba(72,224,168,0.5);
    --green-4-a60: rgba(72,224,168,0.6);
    --green-4-a70: rgba(72,224,168,0.7);
    --green-4-a80: rgba(72,224,168,0.8);
    --green-4-a90: rgba(72,224,168,0.9);
    --green-5: #22d498;
    --green-5-a10: rgba(34,212,152,0.1);
    --green-5-a20: rgba(34,212,152,0.2);
    --green-5-a30: rgba(34,212,152,0.3);
    --green-5-a40: rgba(34,212,152,0.4);
    --green-5-a50: rgba(34,212,152,0.5);
    --green-5-a60: rgba(34,212,152,0.6);
    --green-5-a70: rgba(34,212,152,0.7);
    --green-5-a80: rgba(34,212,152,0.8);
    --green-5-a90: rgba(34,212,152,0.9);
    --green-6: #00c68b;
    --green-6-a10: rgba(0,198,139,0.1);
    --green-6-a20: rgba(0,198,139,0.2);
    --green-6-a30: rgba(0,198,139,0.3);
    --green-6-a40: rgba(0,198,139,0.4);
    --green-6-a50: rgba(0,198,139,0.5);
    --green-6-a60: rgba(0,198,139,0.6);
    --green-6-a70: rgba(0,198,139,0.7);
    --green-6-a80: rgba(0,198,139,0.8);
    --green-6-a90: rgba(0,198,139,0.9);
    --green-7: #00a176;
    --green-7-a10: rgba(0,161,118,0.1);
    --green-7-a20: rgba(0,161,118,0.2);
    --green-7-a30: rgba(0,161,118,0.3);
    --green-7-a40: rgba(0,161,118,0.4);
    --green-7-a50: rgba(0,161,118,0.5);
    --green-7-a60: rgba(0,161,118,0.6);
    --green-7-a70: rgba(0,161,118,0.7);
    --green-7-a80: rgba(0,161,118,0.8);
    --green-7-a90: rgba(0,161,118,0.9);
    --green-8: #007a5e;
    --green-8-a10: rgba(0,122,94,0.1);
    --green-8-a20: rgba(0,122,94,0.2);
    --green-8-a30: rgba(0,122,94,0.3);
    --green-8-a40: rgba(0,122,94,0.4);
    --green-8-a50: rgba(0,122,94,0.5);
    --green-8-a60: rgba(0,122,94,0.6);
    --green-8-a70: rgba(0,122,94,0.7);
    --green-8-a80: rgba(0,122,94,0.8);
    --green-8-a90: rgba(0,122,94,0.9);
    --green-9: #005443;
    --green-9-a10: rgba(0,84,67,0.1);
    --green-9-a20: rgba(0,84,67,0.2);
    --green-9-a30: rgba(0,84,67,0.3);
    --green-9-a40: rgba(0,84,67,0.4);
    --green-9-a50: rgba(0,84,67,0.5);
    --green-9-a60: rgba(0,84,67,0.6);
    --green-9-a70: rgba(0,84,67,0.7);
    --green-9-a80: rgba(0,84,67,0.8);
    --green-9-a90: rgba(0,84,67,0.9);
    --green-10: #002e26;
    --green-10-a10: rgba(0,46,38,0.1);
    --green-10-a20: rgba(0,46,38,0.2);
    --green-10-a30: rgba(0,46,38,0.3);
    --green-10-a40: rgba(0,46,38,0.4);
    --green-10-a50: rgba(0,46,38,0.5);
    --green-10-a60: rgba(0,46,38,0.6);
    --green-10-a70: rgba(0,46,38,0.7);
    --green-10-a80: rgba(0,46,38,0.8);
    --green-10-a90: rgba(0,46,38,0.9);
    --blue-1: #e6f4ff;
    --blue-1-a10: rgba(230,244,255,0.1);
    --blue-1-a20: rgba(230,244,255,0.2);
    --blue-1-a30: rgba(230,244,255,0.3);
    --blue-1-a40: rgba(230,244,255,0.4);
    --blue-1-a50: rgba(230,244,255,0.5);
    --blue-1-a60: rgba(230,244,255,0.6);
    --blue-1-a70: rgba(230,244,255,0.7);
    --blue-1-a80: rgba(230,244,255,0.8);
    --blue-1-a90: rgba(230,244,255,0.9);
    --blue-2: #a3d6ff;
    --blue-2-a10: rgba(163,214,255,0.1);
    --blue-2-a20: rgba(163,214,255,0.2);
    --blue-2-a30: rgba(163,214,255,0.3);
    --blue-2-a40: rgba(163,214,255,0.4);
    --blue-2-a50: rgba(163,214,255,0.5);
    --blue-2-a60: rgba(163,214,255,0.6);
    --blue-2-a70: rgba(163,214,255,0.7);
    --blue-2-a80: rgba(163,214,255,0.8);
    --blue-2-a90: rgba(163,214,255,0.9);
    --blue-3: #7abfff;
    --blue-3-a10: rgba(122,191,255,0.1);
    --blue-3-a20: rgba(122,191,255,0.2);
    --blue-3-a30: rgba(122,191,255,0.3);
    --blue-3-a40: rgba(122,191,255,0.4);
    --blue-3-a50: rgba(122,191,255,0.5);
    --blue-3-a60: rgba(122,191,255,0.6);
    --blue-3-a70: rgba(122,191,255,0.7);
    --blue-3-a80: rgba(122,191,255,0.8);
    --blue-3-a90: rgba(122,191,255,0.9);
    --blue-4: #50a2fa;
    --blue-4-a10: rgba(80,162,250,0.1);
    --blue-4-a20: rgba(80,162,250,0.2);
    --blue-4-a30: rgba(80,162,250,0.3);
    --blue-4-a40: rgba(80,162,250,0.4);
    --blue-4-a50: rgba(80,162,250,0.5);
    --blue-4-a60: rgba(80,162,250,0.6);
    --blue-4-a70: rgba(80,162,250,0.7);
    --blue-4-a80: rgba(80,162,250,0.8);
    --blue-4-a90: rgba(80,162,250,0.9);
    --blue-5: #2680ed;
    --blue-5-a10: rgba(38,128,237,0.1);
    --blue-5-a20: rgba(38,128,237,0.2);
    --blue-5-a30: rgba(38,128,237,0.3);
    --blue-5-a40: rgba(38,128,237,0.4);
    --blue-5-a50: rgba(38,128,237,0.5);
    --blue-5-a60: rgba(38,128,237,0.6);
    --blue-5-a70: rgba(38,128,237,0.7);
    --blue-5-a80: rgba(38,128,237,0.8);
    --blue-5-a90: rgba(38,128,237,0.9);
    --blue-6: #005fe0;
    --blue-6-a10: rgba(0,95,224,0.1);
    --blue-6-a20: rgba(0,95,224,0.2);
    --blue-6-a30: rgba(0,95,224,0.3);
    --blue-6-a40: rgba(0,95,224,0.4);
    --blue-6-a50: rgba(0,95,224,0.5);
    --blue-6-a60: rgba(0,95,224,0.6);
    --blue-6-a70: rgba(0,95,224,0.7);
    --blue-6-a80: rgba(0,95,224,0.8);
    --blue-6-a90: rgba(0,95,224,0.9);
    --blue-7: #0047ba;
    --blue-7-a10: rgba(0,71,186,0.1);
    --blue-7-a20: rgba(0,71,186,0.2);
    --blue-7-a30: rgba(0,71,186,0.3);
    --blue-7-a40: rgba(0,71,186,0.4);
    --blue-7-a50: rgba(0,71,186,0.5);
    --blue-7-a60: rgba(0,71,186,0.6);
    --blue-7-a70: rgba(0,71,186,0.7);
    --blue-7-a80: rgba(0,71,186,0.8);
    --blue-7-a90: rgba(0,71,186,0.9);
    --blue-8: #003494;
    --blue-8-a10: rgba(0,52,148,0.1);
    --blue-8-a20: rgba(0,52,148,0.2);
    --blue-8-a30: rgba(0,52,148,0.3);
    --blue-8-a40: rgba(0,52,148,0.4);
    --blue-8-a50: rgba(0,52,148,0.5);
    --blue-8-a60: rgba(0,52,148,0.6);
    --blue-8-a70: rgba(0,52,148,0.7);
    --blue-8-a80: rgba(0,52,148,0.8);
    --blue-8-a90: rgba(0,52,148,0.9);
    --blue-9: #00236e;
    --blue-9-a10: rgba(0,35,110,0.1);
    --blue-9-a20: rgba(0,35,110,0.2);
    --blue-9-a30: rgba(0,35,110,0.3);
    --blue-9-a40: rgba(0,35,110,0.4);
    --blue-9-a50: rgba(0,35,110,0.5);
    --blue-9-a60: rgba(0,35,110,0.6);
    --blue-9-a70: rgba(0,35,110,0.7);
    --blue-9-a80: rgba(0,35,110,0.8);
    --blue-9-a90: rgba(0,35,110,0.9);
    --blue-10: #001447;
    --blue-10-a10: rgba(0,20,71,0.1);
    --blue-10-a20: rgba(0,20,71,0.2);
    --blue-10-a30: rgba(0,20,71,0.3);
    --blue-10-a40: rgba(0,20,71,0.4);
    --blue-10-a50: rgba(0,20,71,0.5);
    --blue-10-a60: rgba(0,20,71,0.6);
    --blue-10-a70: rgba(0,20,71,0.7);
    --blue-10-a80: rgba(0,20,71,0.8);
    --blue-10-a90: rgba(0,20,71,0.9);
    --cyan-1: #f0feff;
    --cyan-1-a10: rgba(240,254,255,0.1);
    --cyan-1-a20: rgba(240,254,255,0.2);
    --cyan-1-a30: rgba(240,254,255,0.3);
    --cyan-1-a40: rgba(240,254,255,0.4);
    --cyan-1-a50: rgba(240,254,255,0.5);
    --cyan-1-a60: rgba(240,254,255,0.6);
    --cyan-1-a70: rgba(240,254,255,0.7);
    --cyan-1-a80: rgba(240,254,255,0.8);
    --cyan-1-a90: rgba(240,254,255,0.9);
    --cyan-2: #f0fdff;
    --cyan-2-a10: rgba(240,253,255,0.1);
    --cyan-2-a20: rgba(240,253,255,0.2);
    --cyan-2-a30: rgba(240,253,255,0.3);
    --cyan-2-a40: rgba(240,253,255,0.4);
    --cyan-2-a50: rgba(240,253,255,0.5);
    --cyan-2-a60: rgba(240,253,255,0.6);
    --cyan-2-a70: rgba(240,253,255,0.7);
    --cyan-2-a80: rgba(240,253,255,0.8);
    --cyan-2-a90: rgba(240,253,255,0.9);
    --cyan-3: #c1f0f7;
    --cyan-3-a10: rgba(193,240,247,0.1);
    --cyan-3-a20: rgba(193,240,247,0.2);
    --cyan-3-a30: rgba(193,240,247,0.3);
    --cyan-3-a40: rgba(193,240,247,0.4);
    --cyan-3-a50: rgba(193,240,247,0.5);
    --cyan-3-a60: rgba(193,240,247,0.6);
    --cyan-3-a70: rgba(193,240,247,0.7);
    --cyan-3-a80: rgba(193,240,247,0.8);
    --cyan-3-a90: rgba(193,240,247,0.9);
    --cyan-4: #91dceb;
    --cyan-4-a10: rgba(145,220,235,0.1);
    --cyan-4-a20: rgba(145,220,235,0.2);
    --cyan-4-a30: rgba(145,220,235,0.3);
    --cyan-4-a40: rgba(145,220,235,0.4);
    --cyan-4-a50: rgba(145,220,235,0.5);
    --cyan-4-a60: rgba(145,220,235,0.6);
    --cyan-4-a70: rgba(145,220,235,0.7);
    --cyan-4-a80: rgba(145,220,235,0.8);
    --cyan-4-a90: rgba(145,220,235,0.9);
    --cyan-5: #66c6de;
    --cyan-5-a10: rgba(102,198,222,0.1);
    --cyan-5-a20: rgba(102,198,222,0.2);
    --cyan-5-a30: rgba(102,198,222,0.3);
    --cyan-5-a40: rgba(102,198,222,0.4);
    --cyan-5-a50: rgba(102,198,222,0.5);
    --cyan-5-a60: rgba(102,198,222,0.6);
    --cyan-5-a70: rgba(102,198,222,0.7);
    --cyan-5-a80: rgba(102,198,222,0.8);
    --cyan-5-a90: rgba(102,198,222,0.9);
    --cyan-6: #3fafd2;
    --cyan-6-a10: rgba(63,175,210,0.1);
    --cyan-6-a20: rgba(63,175,210,0.2);
    --cyan-6-a30: rgba(63,175,210,0.3);
    --cyan-6-a40: rgba(63,175,210,0.4);
    --cyan-6-a50: rgba(63,175,210,0.5);
    --cyan-6-a60: rgba(63,175,210,0.6);
    --cyan-6-a70: rgba(63,175,210,0.7);
    --cyan-6-a80: rgba(63,175,210,0.8);
    --cyan-6-a90: rgba(63,175,210,0.9);
    --cyan-7: #2b89ab;
    --cyan-7-a10: rgba(43,137,171,0.1);
    --cyan-7-a20: rgba(43,137,171,0.2);
    --cyan-7-a30: rgba(43,137,171,0.3);
    --cyan-7-a40: rgba(43,137,171,0.4);
    --cyan-7-a50: rgba(43,137,171,0.5);
    --cyan-7-a60: rgba(43,137,171,0.6);
    --cyan-7-a70: rgba(43,137,171,0.7);
    --cyan-7-a80: rgba(43,137,171,0.8);
    --cyan-7-a90: rgba(43,137,171,0.9);
    --cyan-8: #1b6585;
    --cyan-8-a10: rgba(27,101,133,0.1);
    --cyan-8-a20: rgba(27,101,133,0.2);
    --cyan-8-a30: rgba(27,101,133,0.3);
    --cyan-8-a40: rgba(27,101,133,0.4);
    --cyan-8-a50: rgba(27,101,133,0.5);
    --cyan-8-a60: rgba(27,101,133,0.6);
    --cyan-8-a70: rgba(27,101,133,0.7);
    --cyan-8-a80: rgba(27,101,133,0.8);
    --cyan-8-a90: rgba(27,101,133,0.9);
    --cyan-9: #0e445e;
    --cyan-9-a10: rgba(14,68,94,0.1);
    --cyan-9-a20: rgba(14,68,94,0.2);
    --cyan-9-a30: rgba(14,68,94,0.3);
    --cyan-9-a40: rgba(14,68,94,0.4);
    --cyan-9-a50: rgba(14,68,94,0.5);
    --cyan-9-a60: rgba(14,68,94,0.6);
    --cyan-9-a70: rgba(14,68,94,0.7);
    --cyan-9-a80: rgba(14,68,94,0.8);
    --cyan-9-a90: rgba(14,68,94,0.9);
    --cyan-10: #082638;
    --cyan-10-a10: rgba(8,38,56,0.1);
    --cyan-10-a20: rgba(8,38,56,0.2);
    --cyan-10-a30: rgba(8,38,56,0.3);
    --cyan-10-a40: rgba(8,38,56,0.4);
    --cyan-10-a50: rgba(8,38,56,0.5);
    --cyan-10-a60: rgba(8,38,56,0.6);
    --cyan-10-a70: rgba(8,38,56,0.7);
    --cyan-10-a80: rgba(8,38,56,0.8);
    --cyan-10-a90: rgba(8,38,56,0.9);
    --geekblue-1: #f0faff;
    --geekblue-2: #ebf8ff;
    --geekblue-3: #c2e8ff;
    --geekblue-4: #94cef7;
    --geekblue-5: #67afeb;
    --geekblue-6: #3e8fdd;
    --geekblue-7: #2a6fb8;
    --geekblue-8: #1a5091;
    --geekblue-9: #0e356b;
    --geekblue-10: #081f45;
    --purple-1: #fbf0ff;
    --purple-2: #ede1f2;
    --purple-3: #d3b1e6;
    --purple-4: #b884d9;
    --purple-5: #9d5ccc;
    --purple-6: #8238be;
    --purple-7: #612599;
    --purple-8: #431673;
    --purple-9: #280b4d;
    --purple-10: #130526;
    --magenta-1: #fff0f4;
    --magenta-2: #f7e6ec;
    --magenta-3: #ebb5c8;
    --magenta-4: #de87aa;
    --magenta-5: #d15e90;
    --magenta-6: #c53a7b;
    --magenta-7: #9e2662;
    --magenta-8: #78174b;
    --magenta-9: #520b33;
    --magenta-10: #2b061c;
    --olive-1: #fbfff0;
    --olive-2: #eef2e4;
    --olive-3: #d6e6b3;
    --olive-4: #bcd986;
    --olive-5: #a2cc5e;
    --olive-6: #87bf39;
    --olive-7: #659926;
    --olive-8: #467317;
    --olive-9: #2b4d0b;
    --olive-10: #142605;
    --teal-1: #d8f0ec;
    --teal-1-a10: rgba(216,240,236,0.1);
    --teal-1-a20: rgba(216,240,236,0.2);
    --teal-1-a30: rgba(216,240,236,0.3);
    --teal-1-a40: rgba(216,240,236,0.4);
    --teal-1-a50: rgba(216,240,236,0.5);
    --teal-1-a60: rgba(216,240,236,0.6);
    --teal-1-a70: rgba(216,240,236,0.7);
    --teal-1-a80: rgba(216,240,236,0.8);
    --teal-1-a90: rgba(216,240,236,0.9);
    --teal-2: #a8e3db;
    --teal-2-a10: rgba(168,227,219,0.1);
    --teal-2-a20: rgba(168,227,219,0.2);
    --teal-2-a30: rgba(168,227,219,0.3);
    --teal-2-a40: rgba(168,227,219,0.4);
    --teal-2-a50: rgba(168,227,219,0.5);
    --teal-2-a60: rgba(168,227,219,0.6);
    --teal-2-a70: rgba(168,227,219,0.7);
    --teal-2-a80: rgba(168,227,219,0.8);
    --teal-2-a90: rgba(168,227,219,0.9);
    --teal-3: #7cd6cd;
    --teal-3-a10: rgba(124,214,205,0.1);
    --teal-3-a20: rgba(124,214,205,0.2);
    --teal-3-a30: rgba(124,214,205,0.3);
    --teal-3-a40: rgba(124,214,205,0.4);
    --teal-3-a50: rgba(124,214,205,0.5);
    --teal-3-a60: rgba(124,214,205,0.6);
    --teal-3-a70: rgba(124,214,205,0.7);
    --teal-3-a80: rgba(124,214,205,0.8);
    --teal-3-a90: rgba(124,214,205,0.9);
    --teal-4: #55c9c2;
    --teal-4-a10: rgba(85,201,194,0.1);
    --teal-4-a20: rgba(85,201,194,0.2);
    --teal-4-a30: rgba(85,201,194,0.3);
    --teal-4-a40: rgba(85,201,194,0.4);
    --teal-4-a50: rgba(85,201,194,0.5);
    --teal-4-a60: rgba(85,201,194,0.6);
    --teal-4-a70: rgba(85,201,194,0.7);
    --teal-4-a80: rgba(85,201,194,0.8);
    --teal-4-a90: rgba(85,201,194,0.9);
    --teal-5: #31bdb8;
    --teal-5-a10: rgba(49,189,184,0.1);
    --teal-5-a20: rgba(49,189,184,0.2);
    --teal-5-a30: rgba(49,189,184,0.3);
    --teal-5-a40: rgba(49,189,184,0.4);
    --teal-5-a50: rgba(49,189,184,0.5);
    --teal-5-a60: rgba(49,189,184,0.6);
    --teal-5-a70: rgba(49,189,184,0.7);
    --teal-5-a80: rgba(49,189,184,0.8);
    --teal-5-a90: rgba(49,189,184,0.9);
    --teal-6: #12b0b0;
    --teal-6-a10: rgba(18,176,176,0.1);
    --teal-6-a20: rgba(18,176,176,0.2);
    --teal-6-a30: rgba(18,176,176,0.3);
    --teal-6-a40: rgba(18,176,176,0.4);
    --teal-6-a50: rgba(18,176,176,0.5);
    --teal-6-a60: rgba(18,176,176,0.6);
    --teal-6-a70: rgba(18,176,176,0.7);
    --teal-6-a80: rgba(18,176,176,0.8);
    --teal-6-a90: rgba(18,176,176,0.9);
    --teal-7: #07858a;
    --teal-7-a10: rgba(7,133,138,0.1);
    --teal-7-a20: rgba(7,133,138,0.2);
    --teal-7-a30: rgba(7,133,138,0.3);
    --teal-7-a40: rgba(7,133,138,0.4);
    --teal-7-a50: rgba(7,133,138,0.5);
    --teal-7-a60: rgba(7,133,138,0.6);
    --teal-7-a70: rgba(7,133,138,0.7);
    --teal-7-a80: rgba(7,133,138,0.8);
    --teal-7-a90: rgba(7,133,138,0.9);
    --teal-8: #005d63;
    --teal-8-a10: rgba(0,93,99,0.1);
    --teal-8-a20: rgba(0,93,99,0.2);
    --teal-8-a30: rgba(0,93,99,0.3);
    --teal-8-a40: rgba(0,93,99,0.4);
    --teal-8-a50: rgba(0,93,99,0.5);
    --teal-8-a60: rgba(0,93,99,0.6);
    --teal-8-a70: rgba(0,93,99,0.7);
    --teal-8-a80: rgba(0,93,99,0.8);
    --teal-8-a90: rgba(0,93,99,0.9);
    --teal-9: #00373d;
    --teal-9-a10: rgba(0,55,61,0.1);
    --teal-9-a20: rgba(0,55,61,0.2);
    --teal-9-a30: rgba(0,55,61,0.3);
    --teal-9-a40: rgba(0,55,61,0.4);
    --teal-9-a50: rgba(0,55,61,0.5);
    --teal-9-a60: rgba(0,55,61,0.6);
    --teal-9-a70: rgba(0,55,61,0.7);
    --teal-9-a80: rgba(0,55,61,0.8);
    --teal-9-a90: rgba(0,55,61,0.9);
    --teal-10: #001417;
    --teal-10-a10: rgba(0,20,23,0.1);
    --teal-10-a20: rgba(0,20,23,0.2);
    --teal-10-a30: rgba(0,20,23,0.3);
    --teal-10-a40: rgba(0,20,23,0.4);
    --teal-10-a50: rgba(0,20,23,0.5);
    --teal-10-a60: rgba(0,20,23,0.6);
    --teal-10-a70: rgba(0,20,23,0.7);
    --teal-10-a80: rgba(0,20,23,0.8);
    --teal-10-a90: rgba(0,20,23,0.9);
    --cerulean-1: #e6feff;
    --cerulean-1-a10: rgba(230,254,255,0.1);
    --cerulean-1-a20: rgba(230,254,255,0.2);
    --cerulean-1-a30: rgba(230,254,255,0.3);
    --cerulean-1-a40: rgba(230,254,255,0.4);
    --cerulean-1-a50: rgba(230,254,255,0.5);
    --cerulean-1-a60: rgba(230,254,255,0.6);
    --cerulean-1-a70: rgba(230,254,255,0.7);
    --cerulean-1-a80: rgba(230,254,255,0.8);
    --cerulean-1-a90: rgba(230,254,255,0.9);
    --cerulean-2: #bdf9ff;
    --cerulean-2-a10: rgba(189,249,255,0.1);
    --cerulean-2-a20: rgba(189,249,255,0.2);
    --cerulean-2-a30: rgba(189,249,255,0.3);
    --cerulean-2-a40: rgba(189,249,255,0.4);
    --cerulean-2-a50: rgba(189,249,255,0.5);
    --cerulean-2-a60: rgba(189,249,255,0.6);
    --cerulean-2-a70: rgba(189,249,255,0.7);
    --cerulean-2-a80: rgba(189,249,255,0.8);
    --cerulean-2-a90: rgba(189,249,255,0.9);
    --cerulean-3: #8febf7;
    --cerulean-3-a10: rgba(143,235,247,0.1);
    --cerulean-3-a20: rgba(143,235,247,0.2);
    --cerulean-3-a30: rgba(143,235,247,0.3);
    --cerulean-3-a40: rgba(143,235,247,0.4);
    --cerulean-3-a50: rgba(143,235,247,0.5);
    --cerulean-3-a60: rgba(143,235,247,0.6);
    --cerulean-3-a70: rgba(143,235,247,0.7);
    --cerulean-3-a80: rgba(143,235,247,0.8);
    --cerulean-3-a90: rgba(143,235,247,0.9);
    --cerulean-4: #63d6eb;
    --cerulean-4-a10: rgba(99,214,235,0.1);
    --cerulean-4-a20: rgba(99,214,235,0.2);
    --cerulean-4-a30: rgba(99,214,235,0.3);
    --cerulean-4-a40: rgba(99,214,235,0.4);
    --cerulean-4-a50: rgba(99,214,235,0.5);
    --cerulean-4-a60: rgba(99,214,235,0.6);
    --cerulean-4-a70: rgba(99,214,235,0.7);
    --cerulean-4-a80: rgba(99,214,235,0.8);
    --cerulean-4-a90: rgba(99,214,235,0.9);
    --cerulean-5: #3ac0de;
    --cerulean-5-a10: rgba(58,192,222,0.1);
    --cerulean-5-a20: rgba(58,192,222,0.2);
    --cerulean-5-a30: rgba(58,192,222,0.3);
    --cerulean-5-a40: rgba(58,192,222,0.4);
    --cerulean-5-a50: rgba(58,192,222,0.5);
    --cerulean-5-a60: rgba(58,192,222,0.6);
    --cerulean-5-a70: rgba(58,192,222,0.7);
    --cerulean-5-a80: rgba(58,192,222,0.8);
    --cerulean-5-a90: rgba(58,192,222,0.9);
    --cerulean-6: #15a8d1;
    --cerulean-6-a10: rgba(21,168,209,0.1);
    --cerulean-6-a20: rgba(21,168,209,0.2);
    --cerulean-6-a30: rgba(21,168,209,0.3);
    --cerulean-6-a40: rgba(21,168,209,0.4);
    --cerulean-6-a50: rgba(21,168,209,0.5);
    --cerulean-6-a60: rgba(21,168,209,0.6);
    --cerulean-6-a70: rgba(21,168,209,0.7);
    --cerulean-6-a80: rgba(21,168,209,0.8);
    --cerulean-6-a90: rgba(21,168,209,0.9);
    --cerulean-7: #0982ab;
    --cerulean-7-a10: rgba(9,130,171,0.1);
    --cerulean-7-a20: rgba(9,130,171,0.2);
    --cerulean-7-a30: rgba(9,130,171,0.3);
    --cerulean-7-a40: rgba(9,130,171,0.4);
    --cerulean-7-a50: rgba(9,130,171,0.5);
    --cerulean-7-a60: rgba(9,130,171,0.6);
    --cerulean-7-a70: rgba(9,130,171,0.7);
    --cerulean-7-a80: rgba(9,130,171,0.8);
    --cerulean-7-a90: rgba(9,130,171,0.9);
    --cerulean-8: #005f85;
    --cerulean-8-a10: rgba(0,95,133,0.1);
    --cerulean-8-a20: rgba(0,95,133,0.2);
    --cerulean-8-a30: rgba(0,95,133,0.3);
    --cerulean-8-a40: rgba(0,95,133,0.4);
    --cerulean-8-a50: rgba(0,95,133,0.5);
    --cerulean-8-a60: rgba(0,95,133,0.6);
    --cerulean-8-a70: rgba(0,95,133,0.7);
    --cerulean-8-a80: rgba(0,95,133,0.8);
    --cerulean-8-a90: rgba(0,95,133,0.9);
    --cerulean-9: #00405e;
    --cerulean-9-a10: rgba(0,64,94,0.1);
    --cerulean-9-a20: rgba(0,64,94,0.2);
    --cerulean-9-a30: rgba(0,64,94,0.3);
    --cerulean-9-a40: rgba(0,64,94,0.4);
    --cerulean-9-a50: rgba(0,64,94,0.5);
    --cerulean-9-a60: rgba(0,64,94,0.6);
    --cerulean-9-a70: rgba(0,64,94,0.7);
    --cerulean-9-a80: rgba(0,64,94,0.8);
    --cerulean-9-a90: rgba(0,64,94,0.9);
    --cerulean-10: #002438;
    --cerulean-10-a10: rgba(0,36,56,0.1);
    --cerulean-10-a20: rgba(0,36,56,0.2);
    --cerulean-10-a30: rgba(0,36,56,0.3);
    --cerulean-10-a40: rgba(0,36,56,0.4);
    --cerulean-10-a50: rgba(0,36,56,0.5);
    --cerulean-10-a60: rgba(0,36,56,0.6);
    --cerulean-10-a70: rgba(0,36,56,0.7);
    --cerulean-10-a80: rgba(0,36,56,0.8);
    --cerulean-10-a90: rgba(0,36,56,0.9);
    --royal-1: #f0f6ff;
    --royal-2: #dbe8ff;
    --royal-3: #b3cbff;
    --royal-4: #83a2f2;
    --royal-5: #577be6;
    --royal-6: #3055da;
    --royal-7: #1e3ab3;
    --royal-8: #11238c;
    --royal-9: #071266;
    --royal-10: #040940;
    --indigo-1: #f3f0ff;
    --indigo-2: #f2f0ff;
    --indigo-3: #d7d2f7;
    --indigo-4: #a8a2eb;
    --indigo-5: #7b76de;
    --indigo-6: #514ed0;
    --indigo-7: #3739ab;
    --indigo-8: #242985;
    --indigo-9: #151b5e;
    --indigo-10: #0c1138;
    --whale-1: #f0f7ff;
    --whale-2: #ebf2fa;
    --whale-3: #dfe5ed;
    --whale-4: #d3d8e0;
    --whale-5: #a9b9d4;
    --whale-6: #8098c8;
    --whale-7: #5f73a1;
    --whale-8: #42517a;
    --whale-9: #293354;
    --whale-10: #161b2e;
    --light-gray-1: #fff;
    --light-gray-1-a10: hsla(0,0%,100%,0.1);
    --light-gray-1-a20: hsla(0,0%,100%,0.2);
    --light-gray-1-a30: hsla(0,0%,100%,0.3);
    --light-gray-1-a40: hsla(0,0%,100%,0.4);
    --light-gray-1-a50: hsla(0,0%,100%,0.5);
    --light-gray-1-a60: hsla(0,0%,100%,0.6);
    --light-gray-1-a70: hsla(0,0%,100%,0.7);
    --light-gray-1-a80: hsla(0,0%,100%,0.8);
    --light-gray-1-a90: hsla(0,0%,100%,0.9);
    --light-gray-2: #fafafa;
    --light-gray-2-a10: hsla(0,0%,98%,0.1);
    --light-gray-2-a20: hsla(0,0%,98%,0.2);
    --light-gray-2-a30: hsla(0,0%,98%,0.3);
    --light-gray-2-a40: hsla(0,0%,98%,0.4);
    --light-gray-2-a50: hsla(0,0%,98%,0.5);
    --light-gray-2-a60: hsla(0,0%,98%,0.6);
    --light-gray-2-a70: hsla(0,0%,98%,0.7);
    --light-gray-2-a80: hsla(0,0%,98%,0.8);
    --light-gray-2-a90: hsla(0,0%,98%,0.9);
    --light-gray-3: #ededed;
    --light-gray-3-a10: hsla(0,0%,92.9%,0.1);
    --light-gray-3-a20: hsla(0,0%,92.9%,0.2);
    --light-gray-3-a30: hsla(0,0%,92.9%,0.3);
    --light-gray-3-a40: hsla(0,0%,92.9%,0.4);
    --light-gray-3-a50: hsla(0,0%,92.9%,0.5);
    --light-gray-3-a60: hsla(0,0%,92.9%,0.6);
    --light-gray-3-a70: hsla(0,0%,92.9%,0.7);
    --light-gray-3-a80: hsla(0,0%,92.9%,0.8);
    --light-gray-3-a90: hsla(0,0%,92.9%,0.9);
    --light-gray-4: #e0e0e0;
    --light-gray-4-a10: hsla(0,0%,87.8%,0.1);
    --light-gray-4-a20: hsla(0,0%,87.8%,0.2);
    --light-gray-4-a30: hsla(0,0%,87.8%,0.3);
    --light-gray-4-a40: hsla(0,0%,87.8%,0.4);
    --light-gray-4-a50: hsla(0,0%,87.8%,0.5);
    --light-gray-4-a60: hsla(0,0%,87.8%,0.6);
    --light-gray-4-a70: hsla(0,0%,87.8%,0.7);
    --light-gray-4-a80: hsla(0,0%,87.8%,0.8);
    --light-gray-4-a90: hsla(0,0%,87.8%,0.9);
    --light-gray-5: #d4d4d4;
    --light-gray-5-a10: hsla(0,0%,83.1%,0.1);
    --light-gray-5-a20: hsla(0,0%,83.1%,0.2);
    --light-gray-5-a30: hsla(0,0%,83.1%,0.3);
    --light-gray-5-a40: hsla(0,0%,83.1%,0.4);
    --light-gray-5-a50: hsla(0,0%,83.1%,0.5);
    --light-gray-5-a60: hsla(0,0%,83.1%,0.6);
    --light-gray-5-a70: hsla(0,0%,83.1%,0.7);
    --light-gray-5-a80: hsla(0,0%,83.1%,0.8);
    --light-gray-5-a90: hsla(0,0%,83.1%,0.9);
    --light-gray-6: #c8c8c8;
    --light-gray-6-a10: hsla(0,0%,78.4%,0.1);
    --light-gray-6-a20: hsla(0,0%,78.4%,0.2);
    --light-gray-6-a30: hsla(0,0%,78.4%,0.3);
    --light-gray-6-a40: hsla(0,0%,78.4%,0.4);
    --light-gray-6-a50: hsla(0,0%,78.4%,0.5);
    --light-gray-6-a60: hsla(0,0%,78.4%,0.6);
    --light-gray-6-a70: hsla(0,0%,78.4%,0.7);
    --light-gray-6-a80: hsla(0,0%,78.4%,0.8);
    --light-gray-6-a90: hsla(0,0%,78.4%,0.9);
    --light-gray-7: #a1a1a1;
    --light-gray-7-a10: hsla(0,0%,63.1%,0.1);
    --light-gray-7-a20: hsla(0,0%,63.1%,0.2);
    --light-gray-7-a30: hsla(0,0%,63.1%,0.3);
    --light-gray-7-a40: hsla(0,0%,63.1%,0.4);
    --light-gray-7-a50: hsla(0,0%,63.1%,0.5);
    --light-gray-7-a60: hsla(0,0%,63.1%,0.6);
    --light-gray-7-a70: hsla(0,0%,63.1%,0.7);
    --light-gray-7-a80: hsla(0,0%,63.1%,0.8);
    --light-gray-7-a90: hsla(0,0%,63.1%,0.9);
    --light-gray-8: #7a7a7a;
    --light-gray-8-a10: hsla(0,0%,47.8%,0.1);
    --light-gray-8-a20: hsla(0,0%,47.8%,0.2);
    --light-gray-8-a30: hsla(0,0%,47.8%,0.3);
    --light-gray-8-a40: hsla(0,0%,47.8%,0.4);
    --light-gray-8-a50: hsla(0,0%,47.8%,0.5);
    --light-gray-8-a60: hsla(0,0%,47.8%,0.6);
    --light-gray-8-a70: hsla(0,0%,47.8%,0.7);
    --light-gray-8-a80: hsla(0,0%,47.8%,0.8);
    --light-gray-8-a90: hsla(0,0%,47.8%,0.9);
    --light-gray-9: #545454;
    --light-gray-9-a10: rgba(84,84,84,0.1);
    --light-gray-9-a20: rgba(84,84,84,0.2);
    --light-gray-9-a30: rgba(84,84,84,0.3);
    --light-gray-9-a40: rgba(84,84,84,0.4);
    --light-gray-9-a50: rgba(84,84,84,0.5);
    --light-gray-9-a60: rgba(84,84,84,0.6);
    --light-gray-9-a70: rgba(84,84,84,0.7);
    --light-gray-9-a80: rgba(84,84,84,0.8);
    --light-gray-9-a90: rgba(84,84,84,0.9);
    --light-gray-10: #2e2e2e;
    --light-gray-10-a10: rgba(46,46,46,0.1);
    --light-gray-10-a20: rgba(46,46,46,0.2);
    --light-gray-10-a30: rgba(46,46,46,0.3);
    --light-gray-10-a40: rgba(46,46,46,0.4);
    --light-gray-10-a50: rgba(46,46,46,0.5);
    --light-gray-10-a60: rgba(46,46,46,0.6);
    --light-gray-10-a70: rgba(46,46,46,0.7);
    --light-gray-10-a80: rgba(46,46,46,0.8);
    --light-gray-10-a90: rgba(46,46,46,0.9)
}
